
body {
    margin: 0%;
}

html {
    font-size: 65.5%;
}

/* @font-face {
    font-family: PfRegalDisplayPro;
    src: url(fonts-PFRegalDisplayProfont/);
} */

/* ----- SECCIÓN 1 ----- */

#BOX1_REAL-ESTATE {
    width: 100%;
    height: 127vh;
    background-color: rgb(0 0 0 / 40%);
    position:relative;
}

    #Static-bar {
        height: 13.75%;
        width: 100%;
        background-color: rgb(82, 199, 199);
        position: fixed;
        z-index: -1;
        display: grid;
        grid-template-columns: max-content auto;
    }
        #LOGO {
            position: relative;
            display: grid;
            background-color: rgb(114, 149, 219);
            align-items: center;
            height: 100%;
        }

            #Logo_web {
                /* width: 266px; */
                height: 3vh;
                padding: 0 0 0 6vw;
                /* align-items: center; */
            }

        #Static-bar_right {
            position: relative;
            display: grid;
            grid-template-columns: max-content/* 11.5vw */ max-content /* 16vw */ 6.5vw;
            width: max-content;
            justify-self: end;
            background-color: blue;
        }

            #login-signup {
                display: grid;
                height: 100%;
                grid-template-columns: max-content 0.1vw max-content;
                background-color: rgb(154, 198, 226);
                align-items: center;
            }

                #login{
                    font-size: calc(1rem + 0.3vw);
                    font-family: 'Montserrat', sans-serif;
                    color: #7E7E7E;
                    background-color: rgb(249, 182, 249);
                    width:max-content;
                    padding: 0 1.85vw 0 0;
                }

                #bar-short {
                    width: 0.05vw;
                    height: 28px;
                    background-color: white;
                }

                #sign-up {
                    font-size: calc(1rem + 0.3vw);
                    font-family: 'Montserrat', sans-serif;
                    color: #FFF;
                    background-color: rgb(173, 65, 173);
                    padding: 0 0 0 1.85vw;
                }
            
            #language {
                display: grid;
                height: 100%;
                grid-template-columns: max-content max-content 0.1vw;
                /* background-color: rgb(154, 198, 226); */
                align-items: center;
                background-color: purple;
            }

                #SP {
                    font-size: calc(1rem + 0.3vw);
                    font-family: 'Montserrat', sans-serif;
                    color: #7E7E7E;
                    background-color: rgb(249, 182, 249);
                    width: max-content;
                    padding: 0 0 0 6.4vw;
                }
                
                #EN {
                    font-size: calc(1rem + 0.3vw);
                    font-family: 'Montserrat', sans-serif;
                    color: #FFF;
                    background-color: rgb(173, 65, 173);
                    width: max-content;
                    padding: 0 1.7vw 0 3vw;
                }

                #bar-long {
                    width: 0.05vw;
                    height: 9vh/* 50% */ /* 28px */;
                    background-color: white;
                }
            
            #Menu_SB {
                display: grid;
                align-items: center;
                position: relative;
            }

                #Menu_img {
                    height: 4.3vh /* 30% */;
                    position: absolute;
                    padding:0 0 0 1.7vw;
                }

    #Search-bar {
        width: 33.3%;
        height: 10%;
        background-color: aquamarine;
        position: relative;
        top: 10.5%;
        right:-66.75%;
        font-size: 20px;
    }

        input {
            width: 76%;
            height: 57%;
            position: absolute;
            top: 38%;
            background-color: transparent;
            border: #FFF solid 1px;
            border-radius: 100px;
            padding: 0% 0% 0% 8%
        }

            input::placeholder{
                color: #FFF;
            }
        
        #lupa {
            position: absolute;
            top: 57%;
            right: 24%;
            height: 17px;
        }

    #Real-Estate {
        position: relative;
        height: 80%;
        background-color: rgb(86, 84, 173);
        top: 10.6%;
    }

        #Real-Estate_Subtitle {
            position: relative;
            background-color: rgb(114, 149, 219);
            color: #B4B7B7;
            font-size: 30px;
            padding: 0% 0% 0% 6%;
            bottom: -46%; /* REVISAR QUE NO SE TOPEN AL
                             QUITAR EL COLOR */
        }

        #Real-Estate_Title {
            position: relative;
            background-color: rgb(154, 198, 226);
            color:white;
            font-size: 50px;
            padding: 0% 0% 0% 6%;
            bottom: -45%;
        }

        #R-S_vap {
            position: relative;
            height: 10%;
            width: fit-content; /* 21.6% */
            background-color: rgb(191, 163, 215);
            bottom: -55%;
            padding: 0% 0% 0% 6.5%;
        }

            #R-E_vap {
                position: relative;
                width: 275px; /* REVISAR */
                height: 100%;
                border: solid 1px white;
                border-radius: 100px;
            }
            
                #R-E_vap_text {
                    position: absolute;
                    font-size: 16px;
                    font-family: 'Montserrat', sans-serif;
                    left: 30%;
                    bottom: 33%;
                    color: #FFF;
                    background-color: blue;
                }

                #R-E_arrow {
                    position: absolute;
                    height: 25%;
                    left: 12%;
                    bottom: 38%;
                }

/* ----- SECCIÓN 2 ----- */

#BOX2_PROPERTIES-FOR-SALE {
    height: 65vh;
    width: 100%;
    /* ---------- */
    background-color: blueviolet;
    position:relative;
    /* ---------- */
    margin-top: 7%;
    margin-bottom: 8.5%;
    /* ---------- */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ----- Galería ----- */

    #GALLERY_Properties-for-sale {
        background-color: rgb(193, 148, 232);
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr 4fr;
        overflow: hidden;
        gap: 0.9vw;
        position: relative;
    }

    .images-galleries {
        object-fit: cover;
        position: absolute;
    }

    .images-frames {
        position: relative;
    }

        .t1 {
            position: absolute;
            left: 10%;
            bottom: 4.63%;
            background-color: blue;
            font-size: calc(1rem + 1.4vw);
            color: #FFF;
    }

        .t2 {
            position: absolute;
            bottom: 14%;
            background-color: blue;
            left: 10%;
            font-size: calc(1rem + 0.8vw);
            color: #FFF;
        }

/* ----- Texto ----- */

    #TEXT_Properties-for-sale{
        margin: 0 11%;
        background-color: rgb(193, 148, 232);
        height: 100%;
        
    }
        #Subtitle_Pfs {
            font-size: calc(1rem + 1.35vw);/* 25px; */
            text-align: right;
        }

        #Title_Pfs {
            font-size: calc(1rem + 3.5vw); /* 62px; */
            text-align: right;
            /* margin-bottom: 5%; */
            font-style: normal;
            margin-bottom: 10%;
        }

        #Paragraph_Pfs {
            padding-left: 10%;
            font-size: calc(1rem + 0.4vw);/* 16px; */
            line-height: 180%;
            margin-bottom: 9%;
            font-family: 'Montserrat', sans-serif;
        }

        #Nav_Pfs {
            position: relative;
            height: 25%;
            background-color: aquamarine;
            display: flex;
            /* justify-content: center; */
            align-items: center;
            justify-content: space-between;    
        }

            #button_left {
                display: flex;
                width: 13%;
                height:22.3%;
                font-family: 'Montserrat', sans-serif;
                font-size: calc(1rem + 0.3vw); /* 13px; */
                background-color: blue;
                justify-content: space-between;
                align-items: center;
            }

            #button_vap {
                width: 55%;
                height: 58%;
                border: solid 1px black;
                border-radius: 100px;
                padding: 0% 4% 0% 0% ;
                font-size: calc(1rem + 0.4vw);
                font-family: 'Montserrat', sans-serif;
            }

            #button_right {
                display: flex;
                width: 13%;
                height:22.3%;
                font-family: 'Montserrat', sans-serif;
                font-size: calc(1rem + 0.3vw); /* 13px; */
                background-color: blue;
                justify-content: space-between;
                align-items: center;
            }

/* ----- SECCIÓN 3 ----- */

#BOX3_PROPERTIES-FOR-RENT {
    height: 65vh;
    width: 100%;
    /* ---------- */
    background-color: blueviolet;
    position: relative;
    /* ---------- */
    margin-bottom: 8.5%;
    /* ---------- */
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    #TEXT_Properties-for-rent {
        margin: 0 11%;
        background-color: rgb(193, 148, 232);
        height: 100%;
    }
        #Subtitle_Pfr {
            font-size: calc(1rem + 1.35vw);/* 25px; */
            text-align: right;
        }

        #Title_Pfr {
            font-size: calc(1rem + 3.5vw); /* 62px; */
            text-align: right;
            margin-bottom: 5%;
            font-style: normal;
            margin-bottom: 10%;
        }

        #Paragrah_Pfr {
            padding-left: 10%;
            font-size: calc(1rem + 0.4vw);/* 16px; */
            line-height: 180%;
            margin-bottom: 9%;
            font-family: 'Montserrat', sans-serif;
        }

        #Nav_Pfr {
            position: relative;
            height: 25%;
            background-color: aquamarine;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
        }

    #GALLERY_Properties-for-rent {
        background-color: rgb(193, 148, 232);
        height: 100%;
        display: grid;
        grid-template-columns: 4fr 4fr 1fr;
        overflow: hidden;
        gap: 0.9vw;

        position: relative;
    }

        #Clo_3 {
            right: 0%;
            padding: 0% 0% 0% 0%; /* revisar t1, t2 */
        }
/* ----- SECCIÓN 4 ----- */

#BOX4_DEVELOPMENTS {
    /* height: 122vh; */
    background-color: blanchedalmond;
    position: relative;
    margin: 0% 5.5% 7.5% 5.5%;
}

    #Subtitle_Dev {
        position: relative;
        font-size: calc(1rem + 1.35vw);
        text-align: center;
    }

    #Title_Dev {
        position: relative;
        font-size: calc(1rem + 3.5vw);
        text-align: center;
    }

    #GALLERY_Developments {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* grid-template-rows: 1fr 1fr; */
        background-color: rgb(193, 148, 232);
        height: 80%;
        margin-top: 5%;
        column-gap: 0.8vw;
        row-gap: 2.5vw;
    }

    .Dev_frames {
        position: relative;/* **no mover */
        background-color: rgb(193, 148, 232);
        overflow: hidden;
        /* configurar el gap */
    }

        .dev_images {
            position: absolute;
            height: 100%;
            width: 100%;
        }

        .Dev_text-box {
            background-color: #FFF;
            position: absolute;
            bottom: 0%;
            width: 100%;
            height:35%; /* 29% */
            margin-top: 20%;
        }

            .dev_t1 {
                font-size: calc(1rem + 0.5vw);
                position: relative;
                padding: 11% 0% 0% 10%;
                background-color:rgb(137, 137, 232);

            }

            .dev_t2 {
                font-size: calc(1rem + 1.35vw);
                position: relative;
                padding: 0% 0% 0% 10%;
                background-color:blue;
                bottom: 0%;
            }

/* ----- SECCIÓN 5 ----- */

#BOX5_ART-CURATION_INTERIOR-DESIGN {
    height: 113vh;
    background-color:bisque;
    position: relative;
    display: grid;
    grid-template-columns: 1.14fr 0.86fr;
    margin-bottom: 8.5%;
}

    #IMAGE_AC_ID {
        position: relative;
        margin-left: 9.5%;
        width: 100%; /* aquí esto hay que ajustar en función 
                        del div en display grid */
        height: 100%;
        background-color: rgb(187, 172, 122);
    }

        #Black {
            position: absolute;
            width: 69%;
            height: 100%;
            background-color: black;
        }

        #LivingRoom {
            position: absolute;
            height: 82%;
            background-color: aquamarine;
            width: 85.5%;
            bottom: 7.5%;
            right: 0%;
        }

            #img_living-room {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }


    #Text_AC_ID {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: aquamarine;
    }

        #BAR_Ornament {
            background-color: rgb(252, 155, 203);
            height: 20%;
            position: relative;
        }
            #image_bar-ornament {
                position: absolute;
                width: 96%;
                bottom: 5%;
                right: 0%;
            }
        
        #Subtitle_AC_ID {
            font-size: calc(1rem + 1.35vw);
            /* margin-left:5%; */
            padding: 0% 0% 0% 5%;
            background-color: rgb(193, 148, 232);
        }

        #Title_AC_ID {
            font-size: calc(1rem + 3.5vw);
            /* margin-left:5%; */
            background-color: rgb(193, 148, 232);
            padding: 0% 25% 8% 5%;

        }

        #Paragrah_AC_ID {
            font-size: calc(1rem + 0.4vw);
            /* margin-left:5%;
            margin-right: 9.5%; */
            padding: 0% 9.5% 25% 5%;
            font-family: 'Montserrat', sans-serif;
            line-height: 180%;
            background-color: rgb(193, 148, 232);
        }

        #Nav_AC_ID {
            position: relative;
            height: 8%;
            background-color: rgb(160, 128, 189);
            display: flex;
            justify-content: space-between; 
        }

            #button_left_AC_ID {
                display: flex;
                width: 11%;
                background-color: blue;
                font-size: calc(1rem + 0.3vw);
                font-family: 'Montserrat', sans-serif;
                justify-content: space-between;
                align-items: center;
                padding: 0% 0% 0% 5%; 
            }

            #button_contact_AC_ID {
                display: flex;
                width: 50%;
                background-color: white;
                border: solid 1px black;
                border-radius: 100px;
                align-items: center;
                font-size: calc(1rem + 0.4vw);
                font-family: 'Montserrat', sans-serif;
                justify-content: center;
            }

            #button_right_AC_ID {
                display: flex;
                width: 11%;
                background-color: blue;
                font-size: calc(1rem + 0.3vw);
                font-family: 'Montserrat', sans-serif;
                justify-content: space-between;
                align-items: center;
                padding: 0% 12% 0% 0%;
            }

/* ----- Sección 6 ----- */

#BOX6_JOIN-LIST_CONTACT {
    height: 90vh;
    background-color: #B4B7B7;
    position: relative;
}

        
    #Join-list {
        position: absolute;
        height: 40%;
        width: 89%;
        background-color: #26282B;
        left: 5.5%;
        z-index: 1; /* CAMBIAR DESPUÉS */
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
            #JL_l_t1{
                color: #DF991B;
                font-size: calc(1rem + 1.35vw);
                padding: 0% 0% 0% 18%;
            }

            #JL_l_t2 {
                color: #FFF;
                font-size: calc(1rem + 2.5vw);
                padding: 0% 0% 0% 18%;
            }

    #Contact {
        height: 81%;
        background-color: #000000;
        position: relative;
        top: 20%;
        padding: 0% 5.5% 0 5.5%;
        display: grid;
        grid-template-rows: auto 31.5% 16%;
        grid-template-columns: 33.6% 25.3% 22% 19.1%;
        grid-template-areas:
        "emp emp emp emp"
        "C1 C2 C3 C4"
        "cp cp cp cp";
    }

        #Empty {
            grid-area: emp;
            position: relative;
        }

        #Contact-1 {
            position: relative;
            color: #FFF;
            background-color: rgb(173, 65, 173);
            grid-area: C1;
            font-size: calc(1rem + 0.4vw);
            font-family: 'Montserrat', sans-serif;
            line-height: 170%;
            font-weight: 330;
        }
            #Logo_contact {
                position: relative;
                padding: 0% 0% 7% 0%;
            }

        #Contact-2 {
            position: relative;
            color: #FFF;
            background-color: rgb(86, 114, 185);
            grid-area: C2;
            font-size: calc(1rem + 0.4vw);
            font-family: 'Montserrat', sans-serif;
            line-height: 170%;
            font-weight: 330;
        }

        #Contact-3 {
            position: relative;
            color: #FFF;
            background-color: rgb(173, 65, 173);
            grid-area: C3;
            font-size: calc(1rem + 0.4vw);
            font-family: 'Montserrat', sans-serif;
            line-height: 170%;
            font-weight: 330;
        }

            #C3_t3 {
                padding: 12% 0% 0% 0%;
            }

        #Contact-4 {
            position: relative;
            color: #FFF;
            background-color: rgb(86, 114, 185);
            grid-area: C4;
        }

            #C4_t1 {
                font-weight: 400;
                font-size: calc(1rem + 0.5vw);
                line-height: 150%;
                padding: 0% 0% 5% 0%;
            }

            #C4_t2 {
                font-weight: 500;
                line-height: 112.5%;
                font-size: calc(1rem + 1.5vw);
                padding: 0% 0% 9% 0%;
            }

            #C4_t3 {
                font-weight: 390;
                font-size: calc(1rem + 0.4vw);
                font-family: 'Montserrat', sans-serif;
            }

        #Copyright {
            position: relative;
            color: #FFF;
            background-color: rgb(186, 115, 222);
            grid-area: cp;
        }

            #Copyright {
                position: relative;
                font-weight: 600;
                line-height: 200%;
                font-family: 'Montserrat', sans-serif;
                font-size: calc(1rem + 0.01vw);
                text-align: center;
            }

                #cp_t1 {
                    padding: 2.33% 0% 0% 0%;
                }


@media screen and (max-width: 600px) {
    #GALLERY_Developments {
        grid-template-columns: 1fr 1fr;
    }
}